<div class="vi-container vi-container--column">

    <h3>
      Australia
    </h3>

    
          <img
            loading="lazy"
            alt="Australian flag"
            src="/globalassets/tevapharm-vision/country-flag/australia-flag400x200.png"
            width="100%"
            height=""
          />
        

          <p>
            I consent to the processing of the personal data as provided here.
            Personal data will be used by Teva Pharmaceutical Industries Ltd. and
            shared with
            <a href="https://www.tevapharma.com.au/contact-us/" rel="noopener">
              the relevant local country affiliate
            </a>
            in your country (“Teva”) for the purposes of responding to your
            submission and to meeting our obligations. Note that because Teva is a
            global organization, the administration and management of your report
            will involve the transfer of your personal data outside of your country.
            For more information on how Teva processes your data, including
            information on your data protection rights, please visit
            <a
              href="https://www.tevapharma.com.au/general-pages/Privacy_Policy/"
              target="_blank"
              rel="noopener"
            >
              our privacy policy
            </a>{" "}
            .
          </p>

    

    <h3>
      <a id="Argentina"></a
      >Argentina
    </h3>

    
          <img
            loading="lazy"
            alt="Argentine flag"
            src="/globalassets/tevapharm-vision/country-flag/argentina-flag-400x200.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of personal data as set out in the
              request form. Personal data will be used by Teva Pharmaceutical
              Industries Ltd. and shared with
            <a
            href="https://www.teva.com.ar/contactanos/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local affiliate</a
          >
              in your country (“Teva”) in order to respond to your request and
              to comply with our obligations. Please note that, as Teva is a
              global organization, the administration and management of your
              request will involve the transfer of your personal data outside of
              your country. Such international transfer may refer to all
              personal data collected, and could even be carried out to those
              jurisdictions that have lower levels of data protection than
              Argentina, in accordance with the provisions of Law 25.326 on
              Personal Data Protection and the provisions of Provision 60/2016
              of the National Directorate of Personal Data Protection of
              Argentina. The owner of the personal data will have the right to
              request information from Teva Pharmaceutical Industries Ltd.
              and/or its affiliates about the processing of their personal data,
              as well as to request access, rectification, updating or deletion
              of their personal data. To exercise any of your rights, please
              contact&nbsp;
            <a
            href="mailto:DepartamentoMedico.TEVAAR@tevapharm.com"
            target="_blank"
            rel="noopener"
            >DepartamentoMedico.TEVAAR@tevapharm.com</a
          >
              . The Agency for Access to Public Information is the control body
              of Law 25,326. For more information on how Teva processes your
              data, including information on your data protection rights, please
              visit our privacy policy
        </p>

    

    

    <h3>
      &nbsp; <a id="Azerbaijan"></a
      >Azerbaijan
    </h3>

    
          <img
            loading="lazy"
            alt="Azerbaijan flag"
            src="/globalassets/tevapharm-vision/country-flag/azerbaijan-flag-400x20-1.png"
            width="100%"
            height=""
          />
        <p>
          Ünvanına tərəfimdən göndərilmiş xahiş davamı olaraq, Operatorun
              (aşağıda qeyd olunduğu kimi)
            <a
            href="https://www.tevapharm.com/our-company/corporate-governance/teva-privacy-notice"
            >linkdə</a
          >
              mövcud olunan Fərdi Məlumatların İşlənilmə Qaydaları ilə razı old
              uğunu və aşağıdakı fərdi məlumatlarımı:
            <br />soyad, ad, atanın adı, doğulduğu tarix/ yaş, mobil nömrə,
              elektron poçt ünvanı və məni müəyyən etdikləri dərəcədə
              müraciətimin təfərrüatları (bundan sonra –
            <strong
            >“Fərdi Məlumatlar”</strong
          > ). <br /><em
            >Teva Pharmaceutical Industries Ltd.</em
          >
              &nbsp;və onun hər əlaqəli şəxsi (bundan sonra –
            <strong
            >"Operator"</strong
          >
              ) tərəfindən toplanılmasına və işlənilməsinə razılıq
              verirəm.
        </p>

        <div class="mb-30 mb-md-50 mb-lg-60">
          <div
            class="vi-accordion-content vi-accordion is-js"
            data-autoclose="true"
            id="27307187"
          >
            <div
              class="vi-accordion-content__item vi-accordion__item"
              id="item(598715)"
            >
              <div class="vi-accordion-content__header vi-accordion__header">
                <h3
                  class="vi-accordion__title vi-accordion-content__title"
                  id="vi-accordion-a9ux27s4kz6"
                >
                  traffic light
                </h3>
                <a
                  class="vi-accordion-content__trigger vi-accordion__trigger mk-aweb-image-button collapsed"
                  role="button"
                  href="#item(598715)"
                  aria-label="Expand for more information on Azerbaijan"
                  aria-controls="vi-accordion-s8lkqdx1pg"
                  data-target="#vi-accordion-s8lkqdx1pg"
                  data-toggle="collapse"
                  data-mk-aweb-disable-background-color-rule=""
                  aria-expanded="false"
                >
                  <div
                    class="vi-btn-generic vi-btn-generic--circular vi-btn-generic--nested vi-btn-generic--fit vi-btn mk-aweb-image-button"
                    data-mk-aweb-disable-background-color-rule=""
                  >
                    <span class="vi-btn-generic__label vi-btn__label"
                      >
                          Toggle Expand/ Collapse
                        </span
                    >
                  </div>
                </a>
              </div>
              <div
                class="vi-accordion-content__main vi-accordion__main collapse"
                id="vi-accordion-s8lkqdx1pg"
                role="region"
                aria-labelledby="vi-accordion-a9ux27s4kz6"
                style=""
              >
                <div
                  class="vi-accordion-content__content vi-typesystem vi-typesystem--collapse-last vi-accordion__content"
                >
                  <p>
                    Etiraf edirəm ki, Fərdi Məlumatlarımın toplanılması və
                        işlənilməsində məqsəd yuxarıda qeyd edilən müraciətimə
                        baxılması və müraciətimdən irəli gələn m əsələlərin
                        təhlil etməsinin təmin etməkdədir.
                      <br />Bu razılıq Fərdi Məlumatların Operator tərəfindən
                        toplanılması, , və işlənilməsi üçün verilir. Operatorun
                        əlaqəli şəxslərinə aşağıdakı şəxslər daxildir:
                  </p>
                  <ul>
                    <li>
                      Operatorun birbaşa və ya dolayısı ilə iştirak payının
                          ən azı 10%-nə sahib olduğu şəxslər; go ya
                    </li>
                    <li>
                      Operatorun Fərdi Məlumatların toplanması və işlənməsi
                          üçün müvafiq müqavilələr bağladığı şəxslər.
                    </li>
                  </ul>
                  <p>
                    Bundan əlavə, mən Fərdi Məlumatlarımın, ABŞ, İsrail,
                        Hindistan, Ukrayna və Özbəkistan da daxil olmaqla, lakin
                        bununla məhdudlaşmayaraq dünyanın istənilən ölkəsində
                        yerləşən Şirkətin əlaqəli şəxslərinə transsərhəd
                        ötürülməsinə razılıq verirəm.
                      <br />Fərdi məlumatların dəyişdirilməsi, əlavələri və (və ya)
                        məhv edilməsi aşağıdakılar əsasında həyata
                        keçiriləcəkdir:
                  </p>
                  <ul>
                    <li>
                      to the point of view of the
                    </li>
                    <li>
                      olümümdən smiles;
                    </li>
                    <li>
                      Operator və / və ya onun hər hansı bir əlaqəli şəxsi
                          ləğv olunduqda;
                    </li>
                    <li>
                      Bu razılığın müddəti bitdikdə;
                    </li>
                    <li>
                      məlumatların toplanılması və işlənilməsi üçün
                          juxarıda göstərilən səbəblər aradan qaldırıldığı
                          foundda.
                    </li>
                  </ul>
                  <p>
                    Fərdi Məlumatların (ehtiyat nüsxəsi də daxil olmaqla)
                        məhv edilməsi mərhələlərlə, bir və ya daha çox üsullarla
                        həyata keçiriləcəkdir:
                  </p>
                  <ul>
                    <li>
                      müvafiq kağız kəsmə maşını istifadə edərək kağız
                          məlumat daşıyıcısının məhv edilməsi;
                    </li>
                    <li>
                      elektron informasiya daşıyıcısının mexaniki təsirlə
                          məhv edilməsi, bərpa olunmayan vəziyyətə
                          gətirilməsi;
                    </li>
                    <li>
                      elektron məlumat daşıyıcısının bərpasına imkan
                          olmayan bir şəkildə formatlaşdırılması;
                    </li>
                    <li>
                      məlumatların bərpasına imkan verməyən bir qaydada
                          xüsusi proqram təminatından istifadə edərək elektron
                          saxlama mühitində saxlanılan məlumatların
                          silinməsi.
                    </li>
                  </ul>
                  <p>
                    Bu razılıq 5 (beş) il müddətində və ya şəxsən mən
                        tərəfindən imzalanan və mənim tərəfimdən Operatora
                        göndərilən yazılı bildirişlə bu razılıq geri lənədək
                        qüvvədə qalır.
                      <br />Bununla, Fərdi Məlumatlara dəyişiklik və (və ya)
                        əlavələr etmək, habelə Fərdi Məlumatların toplanmasına
                        və işlənməsinə razılığımı istənilən vaxt juxarıda
                        östərilən Operatorun aşağıda qeyd olunan ünvanların
                        birinə yazılı bildiriş göndərməklə geri çağırmaq
                        hüququmun olması barədə xəbərdar olduğumu
                        təsdiqləyirəm:&nbsp;
                      <a
                      href="mailto:Info.Azerbaijan@tevapharm.com"
                      target="_blank"
                      rel="noopener"
                      >Info.Azerbaijan@tevapharm.com
                        </a
                    ><em
                      >.</em
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h3>
      &nbsp; <a id="Belarus"></a
      >Belarus
    </h3>

    
          <img
            loading="lazy"
            alt="Belarus flag"
            src="/globalassets/tevapharm-vision/country-flag/belarus-flag-400x200.jpg"
            width="100%"
            height=""
          />
        <p>
          I give my name in personal work, in terms of social security ой
            <a
            href="/globalassets/tevapharm-vision-files/consent_belarus_med-infopv.2023-29-09.docx"
            target="_blank"
            rel="noopener"
            >формой</a
          >
              . Personal employees are affiliated with Teva Pharmaceutical
              Industries Ltd. цами, таким образом, поскольку Teva becomes global
              организацией, Вы соглашаетесь в том числе на трансграничную
              передачу аших персональных днных. Be aware of this, such as social
              media in Belarus Please use the code in the work personal data
              Applicable form in electronic mail:
            <a
            href="mailto:Info.Belarus@tevapharm.com"
            target="_blank"
            rel="noopener"
            >Info.Belarus@tevapharm.com</a
          > .
        </p>

    <h3>
      <a id="Brazil"></a
      >Brazil
    </h3>

    
          <img
            loading="lazy"
            alt="Brazilian flag"
            src="/globalassets/tevapharm-vision/country-flag/brazil-flag-400x200.jpg"
            width="100%"
            height=""
          />
        <p>
          Please present your consent for the processing of your data in
              accordance with the application form. These personal data will be
              used by Teva Pharmaceutical Industries Ltd. and shared with the
            <a
            href="https://www.tevabrasil.com.br/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >relevant local affiliate</a
          >
              of your country, which corresponds, in your country, to Teva
              Brasil Farmacêutica Ltda. (“Teva”), in order to respond to your
              request. Please note that, as Teva is a global organization, the
              administration and management of your request will involve the
              transfer of your personal data outside of Brazil, including to
              Ireland. You can revoke your consent at any time by contacting us
              at&nbsp;
            <a
            href="mailto:Info_medicas@tevabrasil.com.br"
            target="_blank"
            rel="noopener"
            >Info_medicas@tevabrasil.com.br</a
          >
              . For more information on how Teva processes your data, including
              information on your data protection rights, visit our privacy
              policy.
        </p>

    <h3>
      <a id="Canada"></a
      >Canada
    </h3>

    
          <img
            loading="lazy"
            alt="Canadian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/canada-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided
              here. Personal data will be used by Teva Pharmaceutical Industries
              Ltd. and shared with
            <a
            href="//tevacanada.com/en/canada/contact-us/"
            target="_blank"
            rel="noopener"
            >the relevant local country affiliate</a
          >
              &nbsp;in your country (“Teva”) for the purposes of responding to
              your submission and to meeting our obligations. Note that because
              Teva is a global organization, the administration and management
              of your report will involve the transfer of your personal data
              outside of your country. For more information on how Teva
              processes your data, including information on your data protection
              rights, please visit
            <a
            href="//tevacanada.com/en/canada/privacy-policy/"
            target="_blank"
            rel="noopener"
            >our privacy policy</a
          > .
        </p>

    

    

    <h3>
      <a id="Chile"></a
      >Chili
    </h3>

    
          <img
            loading="lazy"
            alt="Chilean flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/chile-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          <span style="vertical-align: inherit"
            ><span style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >I give my consent to the processing of personal data as
                  indicated in the application form.
                </font></font
              ></span
            ><span style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Teva Pharmaceutical Industries Ltd. will use personal data
                  and share it with
                </font></font
              ></span
            ></span
          ><a
            href="https://www.laboratoriochile.cl/contacto"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            ><span style="vertical-align: inherit"
              ><span style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"
                    >the relevant local affiliate</font
                  ></font
                ></span
              ></span
            ></a
          ><span style="vertical-align: inherit"
            ><span style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit">
                  in your country (“Teva”) in order to respond to your request
                  and fulfill our obligations.
                </font></font
              ></span
            ><span style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >Please note that, because Teva is a global organization, the
                  administration and management of your request will involve the
                  transfer of your personal data outside of Chile.
                </font></font
              ></span
            ><span style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >For more information about how Teva processes your data,
                  including information about your data protection rights,
                  please visit our privacy policy.</font
                ></font
              ></span
            ></span
          >
        </p>

    

    

    <h3>
      <a id="China"></a
      >China
    </h3>

    
          <img
            loading="lazy"
            alt="Chinese flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/china-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          我同意按照列明的相关规定处理本人所提交的个人信息相关数据. Teva
              Pharmaceutical Industries Ltd.
            <a
            href="https://www.teva.cn/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >Chinese家/地区关联公司</a
          >(“Teva ” </font
            ><font style="vertical-align: inherit"
              >) 共享该等数据。请注意，Teva 是一所在国家/地区以外的地方。有关
              Teva 如何处理您的数据的更多信息。
              因此抱歉未能在所有方面满足中文文本需求。
        </p>

    

    

    

    

    <h2>
      <span style="font-size: 36px"
        ><strong
          ><a id="H"></a
          ><span style="color: #000080"
            >H</span
          ></strong
        ></span
      >
    </h2>

    <h3>
      <a id="Hong"></a
      >Hong Kong
    </h3>

    
          <img
            loading="lazy"
            alt="Hong Kong flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/hong-kong-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          我同意按照列明的相關規定處理本人所提交的個人資料將為您所請求的目的，由
              Teva Pharmaceutical Industries Ltd.<a
            href="https://www.tevapharm.hk/zh-hk/hong-kong/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >處理，並與您所在國家/地區的相關當地國家/地區關聯公司</a
          >(“Teva”) Teva輸至您所在國家/地區以外的地方。有關 Teva
              如何處理您的資料的更多資訊。
        </p>

    

    

    

    

    <h2>
      <span style="font-size: 36px"
        ><strong
          ><a id="I"></a
          ><span style="color: #000080"
            >Yo</span
          ></strong
        ></span
      >
    </h2>

    <h3>
      <a id="Israel"></a
      >Israel
    </h3>

    
          <img
            loading="lazy"
            alt="Israel flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/israel-flagggg.jpg"
            width="100%"
            height=""
          />
        <p style="direction: rtl; text-align: right">
          אני מסכים לעיבוד המידע האישי שמסרתי כאן. וחברות הבנות לה (להלן:
              "טבע") שטבע הינה חברה גלובלית, ניהול ועיבוד הפנייה יכלול העברה של
              המידע אל מחוץ לישראל. למידע נוסף בדבר עיבוד המידע שלכם, לרבות
              זכויות הגנת המידע, אנא ראו את
            <a
            href="https://www.teva.co.il/privacy-policy/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >מדיניות הפרטיות שלנו</a
          > .
        </p>

    

    

    <h3>
      <a id="Indonesia"></a
      >Indonesia
    </h3>

    
          <img
            loading="lazy"
            alt="Indonesian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/indonesia-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          為了回應您的提交並履行Teva Pharmaceutical Industries Ltd.<a
            href="https://www.actavis.co.id/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >處理，並與您所在國家/地區的相關當地國家/地區關聯公司</a
          >(「Teva」) 共用。請注意，Teva / Teva
              如何處理您的資料的更多資訊。
        </p>


    <h3>
      <a id="Japan"></a
      >Japan
    </h3>

    
          <img
            loading="lazy"
            alt="Japan flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/japan-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          された個人データの取り扱いに同意します。個人データは、お客Teva
              Pharmaceutical Industries Ltd.<a
            href="https://www.takeda-teva.com/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >が使用し、お客様の居住国の関連会社</a
          >（武田テバファーマ株式株式会社を含みます。）（以下「テバ」といいます。）と共有されます。なお、テバはグローバル企業であり、お客様の申請を管理するため個人データが日本国外（欧州連合の加盟国であるアイルランドを含みます。）に移転されることにご留意ください。データ保護に関連するお客様の細については、当社のプライバシーポリシーをご覧ください。
        </p>

    <h3>
      <a id="Kazakhstan"></a
      >Kazakhstan
    </h3>

    
          <img
            loading="lazy"
            alt="Kazakhstan flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/kazakhstan-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          More information on the format of the directory не өңделуіне
              келісемін. Teva Pharmaceutical Industries Ltd. уге жауап беру және
              біздің міндеттемелерімізге сәйкес болу мақсаттарында
            <a
            href="https://www.kaz.teva/kk/kazakhstan/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >сіздің еліңіздегі тиісті жергілікті филиалмен</a
          >
              ("Teva") бөл іседі. Teva сіздің е деректеріңізді сіздің елден
              тысқары жерге тасымалдауды қамтитынын ескеріңіз. Teva ішінде ің
              қорғалуы алу “”
        </p>
 

    <h3>
      &nbsp; <a id="Kyrgyzstan"></a
      >Kyrgyzstan
    </h3>

    
          <img
            loading="lazy"
            alt="Kyrgyzstan flag"
            src="/globalassets/tevapharm-vision/country-flag/kyrgyzstan-flag-400x200.jpg"
            width="100%"
            height=""
          />
        <p>
          I give my name in personal work, in terms of social security ой
            <a
            href="/globalassets/tevapharm-vision-files/consent_kyrgyzstan_med-infopv.doc"
            target="_blank"
            rel="noopener"
            >формой</a
          >
              . Personal employees are affiliated with Teva Pharmaceutical
              Industries Ltd. цами, таким образом, поскольку Teva becomes global
              организацией, Вы соглашаетесь в том числе на трансграничную
              передачу аших персональных днных. Take advantage of this, such as
              social responsibility in the Республики Кирг изстан для
              подтверждения Вашего согласия на обработку personal data
              Applicable form in electronic address:
            <a href="mailto:Info.Kyrgyzstan@tevapharm.com"
            >Info.Kyrgyzstan@tevapharm.com</a
          > .
        </p>



    <h3>
      <a id="Mexico"></a
      >Mexico
    </h3>

    
          <img
            loading="lazy"
            alt="Mexican flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/mexico-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of personal data as indicated in the
              request form. Teva Pharmaceutical Industries Ltd. will use the
              personal data and share it with
            <a
            href="https://www.tevamexico.com.mx/contacto/"
            target="_blank"
            rel="noopener"
            >the relevant local affiliate</a
          >
              in your country (“Teva”) in order to respond to your request and
              to comply with our obligations. Please note that because Teva is a
              global organization, the administration and management of your
              request will involve the transfer of your personal data outside of
              Chile. For more information on how Teva processes your data,
              including information on your data protection rights, please visit
              our privacy policy.
        </p>

    

    

    <h3>
      <a id="Malaysia"></a
      >Malaysia
    </h3>

    
          <img
            loading="lazy"
            alt="Malaysian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/malaysia-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          Saya bersetuju dengan pemprosesan data peribadi seperti yang
              disediakan dalam borang penyerahan. Data peribadi akan digunakan
              oleh Teva Pharmaceutical Industries Ltd. dan dikongsi dengannegara
              sekutu tempatan yang berkaitan dinegara anda (“Teva”) untuk tujuan
              membalas penyerahan anda dan memenuhi kewajipan kami. Sila maklum
              bahawa oleh kerana Teva ialah organisasi global, pentadbiran dan
              pengurusan terhadap penyerahan anda akan melibatkan pemindahan
              data peribadi anda ke luar deniala anda. Untuk mendapatkan
              maklumat lanjut tentang cara Teva memproses data anda, termasuk
              maklumat tentang hak perlindungan data anda, sila lawati dasar
              privasi kami.
        </p>

    <h3>
      <a id="New"></a
      >New Zealand
    </h3>

    
          <img
            loading="lazy"
            alt="New Zealand flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/new-zealand-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided
              here. Personal data will be used by Teva Pharmaceutical Industries
              Ltd. and shared with
            <a
            href="https://www.tevapharm.co.nz/contact-us/"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local country affiliate</a
          >
              in your country (“Teva”) for the purposes of responding to your
              submission and to meeting our obligations. Note that because Teva
              is a global organization, the administration and management of
              your report will involve the transfer of your personal data
              outside of your country, including to Ireland. For more
              information on how Teva processes your data, including information
              on your data protection rights, please visit
            <a
            href="https://www.tevapharm.co.nz/privacy-policy/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >our privacy policy</a
          > .
        </p>
    <h3>
      <a id="Peru"></a
      >Peru
    </h3>

    
          <img
            loading="lazy"
            alt="Peruvian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/peru-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of personal data as indicated in the
              request form. Teva Pharmaceutical Industries Ltd. will use the
              personal data and share it with
            <a
            href="https://www.teva.com.pe/contactenos/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local affiliate</a
          >
              in your country (“Teva”) in order to respond to your request and
              to comply with our obligations. Please note that because Teva is a
              global organization, the administration and handling of your
              request will involve the transfer of your personal data outside of
              Peru, including to Ireland. For more information on how Teva
              processes your data, including information on your data protection
              rights, please visit our privacy policy.
        </p>

    <h3>
      <a id="Russia"></a
      >Russia
    </h3>

    
          <img
            loading="lazy"
            alt="Russian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/russia-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided in
              the request form. Personal data will be used by Teva
              Pharmaceutical Industries Ltd. and shared with
            <a
            href="https://www.teva.ru/contact-us/"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local country affiliate</a
          >
              in your country (“Teva”) for the purposes of responding to your
              request. Note that because Teva is a global organization, the
              administration and management of your request will involve the
              transfer of your personal data outside of your country. For more
              information on how Teva processes your data, including information
              on your data protection rights, please visit
            <a
            href="https://www.teva.ru/privacy-policy/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >our privacy policy</a
          > .
        </p>

    

    

    


    <h3>
      <a id="Singapore"></a
      >Singapore
    </h3>

    
          <img
            loading="lazy"
            alt="Singapore flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/singapore-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided
              here. Personal data will be used by Teva Pharmaceutical Industries
              Ltd. and shared with the
            <a
            href="https://www.tevapharm.sg/contact-us"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >relevant local country affiliate</a
          >
              in your country (“Teva”) for the purposes of responding to your
              submission and to meeting our obligations. Note that because Teva
              is a global organization, the administration and management of
              your request will involve the transfer of your personal data
              outside of your country. For more information on how Teva
              processes your data, including information on your data protection
              rights,&nbsp;
            <a
            href="https://www.tevapharm.sg/general-pages/policy/"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >please visit our privacy policy</a
          > .
        </p>

    

    

    <h3>
      <a id="Korea"></a
      >S. Korea
    </h3>

    
          <img
            loading="lazy"
            alt="South Korea flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/s.-korea-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          Teva </font
            ><font style="vertical-align: inherit"
              >Pharmaceutical Industries Ltd.
            <a
            href="http://www.teva-handok.co.kr/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >English</a
          >
              정보를 처리하는 데 동의합니다. 참고로 Teva는 글로벌 조직이기
              때문에 귀하의 제출을 ​​운영 및 관리하려면 귀하의 개인 를 귀하가
              위치한 국가 외부로 전송해야 합니다. 보관합니다. 또한 귀하는 개인
              정보 처리에 대한 동의를 거부할 권리가 있습니다. 단, 귀하가
              동의하지 않을 경우, 귀하의 제출에 응답하지 못할 수 있습니다. Teva
              당사 개인정보 처리방침을 참조하십시오.
        </p>

    

    

    <h3>
      <a id="Africa"></a
      >South Africa
    </h3>

    
          <img
            loading="lazy"
            alt="South African flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/south-africa-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided
              here. Personal data will be used by Teva Pharmaceutical Industries
              Ltd. and shared with
            <a
            href="https://www.teva.co.za/contact-us/"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local country affiliate</a
          >
              in your country (“Teva”) for the purposes of responding to your
              submission and to meeting our obligations. Note that because Teva
              is a global organization, the administration and management of
              your report will involve the transfer of your personal data
              outside of your country, including to Ireland. For more
              information on how Teva processes your data, including information
              on your data protection rights, please visit
            <a
            href="https://www.teva.co.za/privacy-and-cookie-notice/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >our privacy policy</a
          > .
        </p>

    <h3>
      <a id="Turkey"></a
      >Turkey
    </h3>

    
          <img
            loading="lazy"
            alt="Turkey flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/turkey--final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          Basvuru formunda belirtildiği üzere kişisel bilglerimin
              işlenmesini rıza gösteriyorum. Kişisel verileriniz başvurunuza
              karşılık vermek ve yükümlülüklerimizi yerine getirmek amacıyla,
              TEVA Pharmaceutical Industries Ltd. tarafından kullanılabilir ve
            <a
            href="https://www.teva.com.tr/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >ülkenizdeki bağlı yerel müteşebbisleriyle</a
          >
              (“Teva”) paylaşılabilir. Teva`nın global bir organizationsyon
              olduğunu bilgilerinize sunar, başvurunuzun yönetimi için Türkiye
              dışına kişisel verilerinizin aktarılabileceğini bildiririz.
              Kişisel verilerinizin korunması hakkında bilgi dahil olmak üzere,
              Teva`nın verilerinizi nasıl işlediği hakkında daha çok bilgi almak
              için lütfen veri gizliliği politikamızı ziyaret ediniz.
        </p>

    

    

    <h3>
      <a id="Thailand"></a
      >Thailand
    </h3>

    
          <img
            loading="lazy"
            alt="Thailand flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/thailand-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          See More See More Teva Pharmaceutical Industries Ltd.
            <a
            href="https://www.tevapharmathailand.com/th/thailand/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >See More ระเทศของคุณ</a
          >
              (“Teva”) See More อมุ Teva เป็นองค์กรระดับโลก See More ้องเกี่
              ยวกับการถ่ายใ อกประเทจ See More Teva ใช้ See More อมูลของคุณ See
              More
        </p>

    <h3>
      <a id="USA"></a
      >United States of America
    </h3>

    
          <img
            loading="lazy"
            alt="United States Flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/usa-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          I consent to the processing of the personal data as provided
              here. Personal data will be used by Teva Pharmaceutical Industries
              Ltd. and shared with
            <a
            href="https://www.tevausa.com/contact-us/"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >the relevant local country affiliate</a
          >
              in your country (“Teva”) for the purposes of responding to your
              submission and to meeting our obligations. Note that because Teva
              is a global organization, the administration and management of
              your report will involve the transfer of your personal data
              outside of your country. For more information on how Teva
              processes your data, including information on your data protection
              rights, please visit
            <a
            href="https://www.tevausa.com/general-pages/policy3/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >our privacy policy</a
          > ."<span style="font-family: 'Calibri', sans-serif; color: #1f497d"
            ><o:p></o:p
          ></span>
        </p>


    <h3>
      <a id="Ukraine"></a
      >Ukraine
    </h3>

    
          <img
            loading="lazy"
            alt="Ukrainian flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/new-flags/ukraine_flag_colours.jpg"
            width="100%"
            height=""
          />
        <p>
          <span
            >Надсилаючи свій запит, ви надаєте свою інформацію контролеру
                веб-сайт у, яким є Teva Pharmaceutical Industries Ltd., вул.
                Довора Ганевія, 124, Тель Авів, Ізраїль. ("Ми").</span
          >
        </p>
        <p>
          &nbsp;My vikoristovudmo особисту інформацію, яку ви надаєте під
              час заповн ення форми подання, щоб: (а) ідентифікувати вас як
              особи, яка надіслала відповідне подання; (б) зв'язатися з вами
              щодо вашого подання. My Ми обробляємо цю інформацію згідно наших
              зобов'язань, щоб ви могли о тримати відповідну інформацію про наші
              продукти та послуги. Персональні відповідній
            <a
            href="https://www.teva.ua/contact-us/"
            target="_blank"
            rel="noopener"
            data-element="button"
            data-target="#exit-popup-modal"
            data-toggle="modal"
            class="foreign_link"
            >юридичній особі у вашій країні</a
          >
              ("Teva"), щоб відповісти на ваше подання і допомогти нам покращити
              послуги, які ми надаємо, згідно наших зобов'язань,. Зауважте, що
              оскільки Teva є глобальною компанією, адміністрування та кер
              ування вашим поданням передбачатиме передачу ваших особистих даних
              за межі вашої країни. The data is removed from the data, so it
              will be broken і, включаючи інформацію про ваші права на захист
              даних, перегляньте нашу політику конфіденційності.
        </p>
 

    <h3>
      &nbsp; <a id="Uzbekistan"></a
      >Uzbekistan
    </h3>

    
          <img
            loading="lazy"
            alt="Uzbekistan flag"
            src="/globalassets/tevapharm-vision/country-flag/uzbekistan-flag-400x200.jpg"
            width="100%"
            height=""
          />
        <p>
          So'rovnomada ko'rsatilgandek shaxsga doir ma'lumotla ishlov
              berilishiga rozilik beraman.
            <br />Bizning mahsulotlar bilan bog'liq Teva kompaniyasining huquqiy
              majburiyatlari bajailishini taminlash, qo'llaniladigan dori
              vositalarining “xavf/foyda” nisbatini baholash va zarur bo'lgan
              taqdirda mahsulotlar to'g'risidagi ma'lumotlarni yangilash hamda
              sizning so'rovingizni dirish maqsadida shaxsga doir
              ma'lumotlaringizni taqdim etish orqali ushbu taqdim etilgan
              ma'lumotlarni, shu jumladan so'rovnomada ko'rsatilgan shaxsga doir
              ma'lumotlarni, Teva Pharmaceutical Industries Ltd kompaniyasi va
              uning affillangan shaxslariga uzatilishiga o'z roziligingizni
              bergan hisoblanasiz.
        </p>

        <div class="mb-30 mb-md-50 mb-lg-60">
          <div
            class="vi-accordion-content vi-accordion is-js"
            data-autoclose="true"
            id="65883977"
          >
            <div
              class="vi-accordion-content__item vi-accordion__item"
              id="item(601295)"
            >
              <div class="vi-accordion-content__header vi-accordion__header">
                <h3
                  class="vi-accordion__title vi-accordion-content__title"
                  id="vi-accordion-ihmwdq6kwz9"
                >
                  batafsil ma'lumot
                </h3>
                <a
                  class="vi-accordion-content__trigger vi-accordion__trigger mk-aweb-image-button"
                  role="button"
                  href="#item(601295)"
                  aria-label="Expand for more information on Azerbaijan"
                  aria-controls="vi-accordion-vkzfw9hj7n"
                  data-target="#vi-accordion-vkzfw9hj7n"
                  data-toggle="collapse"
                  data-mk-aweb-disable-background-color-rule=""
                >
                  <div
                    class="vi-btn-generic vi-btn-generic--circular vi-btn-generic--nested vi-btn-generic--fit vi-btn mk-aweb-image-button"
                    data-mk-aweb-disable-background-color-rule=""
                  >
                    <span class="vi-btn-generic__label vi-btn__label"
                      >
                          Toggle Expand/ Collapse
                        </span
                    >
                  </div>
                </a>
              </div>
              <div
                class="vi-accordion-content__main vi-accordion__main collapse"
                id="vi-accordion-vkzfw9hj7n"
                role="region"
                aria-labelledby="vi-accordion-ihmwdq6kwz9"
              >
                <div
                  class="vi-accordion-content__content vi-typesystem vi-typesystem--collapse-last vi-accordion__content"
                >
                  <p>
                    Siz taqdim etgan ma'lumotlar O'zbekiston Respublikasi
                    shaxsga doir ma’lumotlarni himoya qilish to'g'risidagi
                    amaldagi qonunchiligi va
                    <a
                      href="https://www.tevapharm.com/our-company/corporate-governance/teva-privacy-notice/"
                      >https://www.tevapharm.com/our-company/corporate-governance/teva-privacy-notice</a
                    >&nbsp;<span>manzilida joylashgan&nbsp;</span>kompaniyasida
                    amal qiladigan maxfiylikka rioya qilish siyosatiga muvofiq
                    ishlov berilishiga ham rozilik bildirasiz. Shaxsga doir
                    ma’lumotlarga ishlov berish deganida shaxsga doir
                    ma’lumotlarni yig‘ish, tizimlashtirish, saqlash,
                    o‘zgartirish, to‘ldirish, ulardan foydalanish, ularni
                    berish, tarqatish, uzatish, shu jumladan transchegaraviy
                    uzatish, egasizlantirish va yo‘q qilish bo‘yicha bir
                    harakatni yoki harakatlar majmuini amalga oshirish nazarda
                    tutiladi;<br />Agarda Sizning ma'lumotingizga ishlov
                    berishning bunday usullari bilan rozi bo'lmasangiz yoki
                    shaxsiy ma'lumotlaringizdan foydalanish, ularga o'zgartirish
                    kiritish yoki o'chirishni xohlasangiz, iltimos biz bilan
                    <a
                      href="mailto:Info.Uzbekistan@tevapharm.com"
                      target="_blank"
                      rel="noopener"
                      >Info.Uzbekistan@tevapharm.com</a
                    >
                    elektron ma'nzili orqali bog'laning.<br />Agar Sizning
                    so'rovnomangizda boshqa shaxs eslatib o’tilgan bo'lsa,
                    bunday shaxs ushbu ma'lumotlarni Siz tomoningizdan ma’lum
                    qilinishiga, shuningdek, uning shaxsiga doir ma’lumotlarga
                    ishlov berishga rozilik berganligini tasdiqlaysiz. Agar
                    bunday boshqa shaxs o'zi haqidagi ma’lumotlar xabar va
                    ishlov berilishiga rozilik bermagan bo'lsa, iltimos, bizga
                    <a
                      href="mailto:Info.Uzbekistan@tevapharm.com"
                      target="_blank"
                      rel="noopener"
                      >Info.Uzbekistan@tevapharm.com</a
                    >
                    elektron ma'nzili orqali xabar bering.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    

    

    

    <h2>
      <span style="font-size: 36px"
        ><strong
          ><a id="V"></a
          ><span style="color: #000080"
            >V</span
          ></strong
        ></span
      >
    </h2>

    <h3>
      <a id="Vietnam"></a
      >Vietnam
    </h3>

    
          <img
            loading="lazy"
            alt="Vietnam flag"
            src="/globalassets/tevapharm-vision/medinfo/countries-flags/vietnam-final-flag.jpg"
            width="100%"
            height=""
          />
        <p>
          Tôi đồng ý với việc xử lý dữ liệu cá nhân như được cung cấp
              strong biểu mẫu gửi đi. Dữ liệu cá nhân sẽ được Teva
              Pharmaceutical Industries Ltd. sử dụng và được chia sẻ với các chi
              nhánh trong cùng quốc gia (“Teva“) nhằm mục đích phản i cho mẫu
              gửi của bạn và hoàn thành nghĩa vụ của chúng tôi. Lưu ý rằng vì
              Teva là một tổ chức toàn cầu, việc quản lý mẫu gửi của bạn sẽ liên
              quan đến việc chuyển dữ liệu cá ân của bạn ra bên ngoài quốc gia
              của bạn. Để biết thêm thông tin về cách Teva xử lý dữ liệu của
              bạn, bao gồm thông tin về quyền bảo vệ dữ liệu, vui lòng truy cập
              chính sách b ảo mật của chúng tôi.
        </p>

    

    

    
  </div>
</div>
